{% load miscs_tags %}

<div class="tt-item">
    <div class="tt-single-topic">
        <div class="tt-item-header pt-noborder">
            <div class="tt-item-info info-top">
                <div class="tt-avatar-icon">
                    <i class="tt-icon">
                        <svg>
                            <use xlink:href="#icon-ava-{{ post.user.username | first_char }}"></use>
                        </svg>
                    </i>
                </div>
                <div class="tt-avatar-title">
                    <a href="#">{{ post.user.username }}</a>
                </div>
                <a class="tt-info-time">
                    <i class="tt-icon">
                        <svg>
                            <use xlink:href="#icon-time"></use>
                        </svg>
                    </i>{{ post.created | date:'d M, Y - g:i A' }}
                </a>
            </div>
        </div>
        <div class="tt-item-description">
            {% if post.parent %}
                <div class="topic-inner-list">
                    <div class="topic-inner">
                        <div class="topic-inner-title">
                            <div class="topic-inner-avatar">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-ava-{{ post.parent.user.username | first_char }}"></use>
                                    </svg>
                                </i>
                            </div>
                            <div class="topic-inner-title"><a href="#">{{ post.parent.user.username }}</a></div>
                        </div>
                        <div class="topic-inner-description">
                            {{ post.parent.content | linebreaks }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {{ post.content | linebreaks }}
        </div>
        <div class="tt-item-info info-bottom">
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-like"></use>
                    </svg>
                </i>
                <span class="tt-text">{{ post.likes | pretty_count }}</span>
            </a>
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-dislike"></use>
                    </svg>
                </i>
                <span class="tt-text">{{ post.dislikes | pretty_count }}</span>
            </a>
            <div class="col-separator"></div>
            <a href="{{ post.get_share_url }}" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-share"></use>
                    </svg>
                </i>
            </a>
            <a href="{{ post.get_report_url }}" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-flag"></use>
                    </svg>
                </i>
            </a>
            <a href="{{ post.get_reply_to_url }}" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-reply"></use>
                    </svg>
                </i>
            </a>
        </div>
    </div>
</div>