{% load message_tags %}
{% load miscs_tags %}

<div class="col-md-4 tt-aside" id="js-aside">
    <a href="#" class="tt-title-aside">
        <h2 class="tt-title">
            {{ title }}
        </h2>
        <i class="tt-icon">
            <svg class="icon">
                <use xlink:href="#icon-pencil"></use>
            </svg>
        </i>
    </a>
    <div class="tt-all-avatar">
        <div class="tt-box-search">
            <input class="tt-input" type="text" placeholder="Search messages">
            <a href="#" class="tt-btn-input">
                <svg>
                    <use xlink:href="#icon-search"></use>
                </svg>
            </a>
            <a href="#" class="tt-btn-icon">
                <svg class="icon">
                    <use xlink:href="#icon-filter"></use>
                </svg>
            </a>
        </div>
        <div class="tt-list-avatar js-init-scroll">
            {% for message in messages %}
                {% get_latest_reply_or_message message as reply_or_message %}
                <a href="#" class="tt-item">
                    <div class="tt-col-avatar">
                        {% recipient_switcher message user as recipient %}
                        <svg class="tt-icon">
                            <use xlink:href="#icon-ava-{{ recipient | first_char }}"></use>
                        </svg>
                    </div>
                    <div class="tt-col-description">
                        <h4 class="tt-title">
                            <span>
                                {{ recipient.get_display_name }}
                            </span>
                            <span class="time">{{ reply_or_message.created | time_ago }}</span>
                        </h4>
                        <div class="tt-message tt-select">
                            {% is_instance_of_message reply_or_message as instanceofmsg %}
                            {% if not instanceofmsg %}
                                {% if reply_or_message.sender == user %}
                                    Me:
                                {% endif %}
                            {% elif message.starter == user %}
                                Me:
                            {% endif %}
                            {{ reply_or_message.text | truncate_message:5 }}
                        </div>
                    </div>
                </a>
            {% empty %}
                <div class="tt-col-message">No messages yet!</div>
            {% endfor %}
        </div>
    </div>
</div>