{% extends 'base.html' %}
{% load mptt_tags %}
{% load thread_tags %}
{% load miscs_tags %}

{% block title %}Categories{% endblock %}

{% block content %}
    <main id="tt-pageContent">
        <div class="tt-custom-mobile-indent container">
            <div class="tt-categories-title">
                <div class="tt-title">Categories</div>
                <div class="tt-search">
                    <form method="GET" action="{% url 'flyapps:categories:search_category' %}" class="search-wrapper">
                        <div class="search-form">
                            <input type="text" name="keyword" class="tt-search__input" placeholder="Search Categories">
                            <button class="tt-search__btn" type="submit">
                                <svg class="tt-icon">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                            <button class="tt-search__close">
                                <svg class="tt-icon">
                                    <use xlink:href="#icon-cancel"></use>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tt-categories-list">
                <div class="row">
                    {% if not categories %}
                        <div class="col">
                            <div class="tt-info-box">
                                <p class="text-center">There are no created root categories yet by the admin</p>
                            </div>
                        </div>
                    {% else %}
                        {% recursetree categories %}
                            {% category_threads node as node_threads %}
                            <div class="col-md-6 col-lg-4">
                                <div class="tt-item">
                                    <div class="tt-item-header">
                                        <ul class="tt-list-badge">
                                            <li><a href="{% url 'flyapps:categories:list_subcategory' node.id node.slug %}"><span
                                                    class="tt-{% cycle 'color01' 'color02' 'color03' 'color04' 'color05' %} tt-badge">{{ node.name }}</span></a>
                                            </li>
                                        </ul>
                                        <h6 class="tt-title"><a
                                                href="{% url 'flyapps:categories:list_thread' node.id node.slug %}">Thread{{ node_threads | pluralize }}
                                            - {{ node_threads | length }}</a></h6>
                                    </div>
                                    <div class="tt-item-layout">
                                        <div class="innerwrapper">
                                            {{ node.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endrecursetree %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}