{% extends 'base.html' %}

{% load message_tags %}

{% block title %}Start Chat{% endblock %}

{% block content %}
    <main id="tt-pageContent" class="tt-offset-small">
        <div class="container">
            <div class="tt-messages-layout">
                <div class="row no-gutters">
                    {% active_messages request.user %}
                    <div class="col-md-8">
                        <div class="tt-title-content">
                            <a href="#" class="tt-toggle-aside">
                                <i class="tt-icon">
                                    <svg class="icon">
                                        <use xlink:href="#icon-arrow_left"></use>
                                    </svg>
                                </i>
                            </a>
                            <h2 class="tt-title">
                                New message
                            </h2>
                        </div>
                        <div class="tt-wrapper-inner">
                            <form method="POST" action="" class="pt-editor form-default">
                                {% csrf_token %}
                                <div class="pt-row">
                                    <div class="col-left">
                                        <ul class="pt-edit-btn">
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-quote"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-bold"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-italic"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-share_topic"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-blockquote"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-performatted"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li class="hr"></li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-upload_files"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-bullet_list"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-heading"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-horizontal_line"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-emoticon"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-settings"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-color_picker"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.text }}
                                </div>
                                <div class="pt-row">
                                    <div class="col-auto ml-auto">
                                        <button class="btn btn-secondary btn-custom" {% if similar_starter %}disabled{% endif %}>Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}