{% extends 'base.html' %}
{% load static %}

{% block title %}Reset successful{% endblock %}

{% block content %}

    <!--
        Modal Age Confirmation
     -->
    <div class="modal fade" id="modalLevelUp" data-pause=250 tabindex="-1" role="dialog" aria-label="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="tt-modal-level-up">
                    <div class="text-center">
                        <h6 class="tt-title">
                            Hurray!
                        </h6>
                        <p>A password reset link has been sent to {{ email }}</p>
                    </div>
                    <a href="{% url 'flyapps:home:home' %}" class="tt-option-btn">
					<span class="tt-icon">
						<img src="{% static 'images/reset_success.png' %}" height="30" width="30" alt="reset_successful">
					</span>
                        <div class="tt-badge-row">
                            <span class="tt-color14 tt-badge">SUCCESS</span>
                        </div>
                        <span class="btn btn-primary">Go to home</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}