{% extends 'base.html' %}
{% load message_tags %}

{% block title %}{{ message }}{% endblock %}

{% block content %}
    <main id="tt-pageContent" class="tt-offset-small">
        <div class="container">
            <div class="tt-messages-layout">
                <div class="row no-gutters">
                    {% active_messages_with_inclusion_tag request.user %}
                    <div class="col-md-8">
                        <div class="tt-title-content">
                            <a href="#" class="tt-toggle-aside">
                                <i class="tt-icon">
                                    <svg class="icon">
                                        <use xlink:href="#icon-arrow_left"></use>
                                    </svg>
                                </i>
                            </a>
                            <h2 class="tt-title">
                                {% if message.starter == request.user %}
                                    {{ message.recipient.get_display_name }}
                                {% else %}
                                    My conversations
                                {% endif %}
                            </h2>
                            <div class="tt-description">
                                Last seen 3h ago
                            </div>
                            <a href="#" class="tt-icon-link">
                                <i class="tt-icon">
                                    <svg class="icon">
                                        <use xlink:href="#notification"></use>
                                    </svg>
                                </i>
                            </a>
                        </div>
                        <div class="tt-list-time-topic">
                            <div class="tt-item-title">
                                <span>12/26/2017</span>
                            </div>
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-ava-k"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><a href="#">Kevin</a> <span class="time">3:12 AM</span></h4>
                                    <p>How is it going man? Did you see my new forum <a href="#"
                                                                                        class="tt-underline-02">post?</a>
                                    </p>
                                </div>
                            </div>
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-ava-a"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><a href="#">azyrusmax</a> <span class="time">3:16 AM</span>
                                    </h4>
                                    <p>Hey, going good, what about you? yes I saw your post, great stuff man <a href="#"
                                                                                                                class="tt-underline-02">post?</a>
                                    </p>
                                </div>
                            </div>
                            <div class="tt-item-title"><span>12/27/2017</span></div>
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-ava-k"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><a href="#">Kevin</a> <span class="time">10:49 AM</span></h4>
                                    <p>I’m doing good too, how’s business going?</p>
                                </div>
                            </div>
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-ava-a"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><a href="#">Kevin</a> <span class="time">10:49 AM</span></h4>
                                    <p>Business is good, but going a bit slow than usual.</p>
                                </div>
                            </div>
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-ava-k"></use>
                                    </svg>
                                </div>
                                <div class="tt-col-description">
                                    <h4 class="tt-title"><a href="#">Kevin</a> <span class="time">10:49 AM</span></h4>
                                    <p>that happens during december, it will be fixed soon..</p>
                                </div>
                            </div>
                        </div>
                        <div class="tt-wrapper-inner">
                            <div class="pt-editor form-default">
                                <div class="pt-row">
                                    <div class="col-left">
                                        <ul class="pt-edit-btn">
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-quote"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-bold"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-italic"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-share_topic"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-blockquote"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-performatted"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li class="hr"></li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-upload_files"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-bullet_list"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-heading"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-horizontal_line"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-emoticon"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-settings"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn-icon">
                                                    <svg class="tt-icon">
                                                        <use xlink:href="#icon-color_picker"></use>
                                                    </svg>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="5"
                                              placeholder="Write your message here"></textarea>
                                </div>
                                <div class="pt-row">
                                    <div class="col-auto ml-auto">
                                        <a href="#" class="btn btn-secondary btn-custom">Send</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}