{% extends 'base.html' %}
{% load miscs_tags %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}

    <main id="tt-pageContent">
        <div class="container">
            <div class="tt-single-topic-list">
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header">
                            <div class="tt-item-info info-top">
                                <div class="tt-avatar-icon">
                                    <i class="tt-icon">
                                        <svg>
                                            <use xlink:href="#icon-ava-{{ thread.starter.username | first_char }}"></use>
                                        </svg>
                                    </i>
                                </div>
                                <div class="tt-avatar-title">
                                    <a href="#">{{ thread.starter.username }}</a>
                                </div>
                                <a class="tt-info-time">
                                    <i class="tt-icon">
                                        <svg>
                                            <use xlink:href="#icon-time"></use>
                                        </svg>
                                    </i>{{ thread.created | date:'dS M Y, P' }}
                                </a>
                            </div>
                            <h3 class="tt-item-title">
                                {{ thread.title }}
                            </h3>
                            <div class="tt-item-tag">
                                <ul class="tt-list-badge">
                                    <li><a href="#"><span
                                            class="tt-color03 tt-badge">{{ thread.get_prefix_display }}</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tt-item-description">
                            <p>
                                {{ thread.content }}
                            </p>
                        </div>
                        <div class="tt-item-info info-bottom">
                            <a href="{{ thread.get_like_url }}" class="tt-icon-btn">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-like"></use>
                                    </svg>
                                </i>
                                <span class="tt-text">{{ thread.likes | pretty_count }}</span>
                            </a>
                            <a href="{{ thread.get_dislike_url }}" class="tt-icon-btn">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-dislike"></use>
                                    </svg>
                                </i>
                                <span class="tt-text">{{ thread.dislikes | pretty_count }}</span>
                            </a>
                            <div class="col-separator"></div>
                            <a href="{{ thread.get_share_url }}" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-share"></use>
                                    </svg>
                                </i>
                            </a>
                            <a href="{{ thread.get_report_url }}" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                <i class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-flag"></use>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tt-item">
                    {% if page_obj %}
                        {% include 'flyapps/threads/thread/_partials/_thread_statistics.html' %}
                    {% else %}
                        <div class="tt-info-box">
                            {% if not thread.is_locked %}
                                <h6 class="tt-title">There are no comments yet. Be the first to post</h6>
                            {% else %}
                                <h6 class="tt-title">Thread is currently locked</h6>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                {% for post in page_obj %}
                    {% include 'flyapps/threads/post/list_posts.html' with post=post %}
                {% endfor %}
            </div>


            <div class="tt-wrapper-inner">
                {% if is_paginated %}
                    {% include 'pagination.html' with page=page_obj %}
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
                {% if not thread.is_locked %}
                    <div class="tt-wrapper-inner">
                        {% include 'flyapps/threads/post/create_post.html' %}
                    </div>
                {% else %}
                    <div class="tt-info-box">Post reply is not possible. Thread is locked</div>
                {% endif %}
            {% else %}
                <div class="tt-info-box">Please login to be able to post a reply</div>
            {% endif %}
        </div>
    </main>

{% endblock %}